<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>
<h1>Your Courses Are</h1>
<table>
    <thead>
    <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Teacher</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "c : ${courses}">
        <td th:text="${c.getCourseTitle()}"></td>
        <td th:text="${c.getCourseDescription()}"></td>
        <td th:text="${c.getCoursePrice()}"></td>
        <td th:text="${c.getTutor.getTutorName()}"></td>
        <td><a th:href="@{/buycourse(courseId=${c.getCourseId()},studentId=${session.studentId})}">Buy Course</a></td>
    </tr>
</table>
</body>
</html>